<!DOCTYPE html>
<html lang="en">
<head>

	<% include partials/template/headercontent.ejs %>
	
    <style>    	
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: #fff;
		    color:black;
		}
		
		li {
		    float: left; 
		    display :block;
		    float:left; 		    
		}
		
		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 16px;
		    text-decoration: none;
		}
		
		a:hover {
		    background-color: #393939;
		     color:#fff;
		}
		
		.li_style{
		    background-color : #393939;
		    color:#fff;
		}
		
		.div_active{
			display:inline;
		}
		
		.div_unactive{
			display:none;
		}
		
		.div_active1{
			display:flex;
		}
		 
	</style>
</head>

<body> 
		
<% include partials/template/header.ejs %>

<% include partials/template/headfaculty.ejs %>

	
<div class="container">
        <div class="row div_active" id="tab1">
        	<div class="col-sm-12">
        		<h4 class="form-title section_header" style="text-align: left;font-weight: bold;">Create or Update Profile</h4>
        		<% include partials/template/faculty/f_profile.ejs %>
        	</div>
        </div>
        <div class="row div_unactive" id="tab2">
        	<div class="col-sm-12" style="min-height:500px;">
        		<h4 class="form-title section_header" style="text-align: left;font-weight: bold;">Create Project</h4>
        		<% include partials/template/faculty/create_project.ejs %>
        	</div>
        </div>
        <div class="row div_unactive" id="tab3">
        	<div class="col-sm-12" style="min-height:500px;">        		
        		<h4 class="form-title section_header" style="text-align: left;font-weight: bold;">Enrollment</h4>
        		<% include partials/template/faculty/enrollment.ejs %>
        	</div>
        </div>
        <div class="row div_unactive" id="tab4">
        	<div class="col-sm-12" style="min-height:500px;">        		
        		<h4 class="form-title section_header" style="text-align: left;font-weight: bold;">Assessment</h4>
        		<% include partials/template/faculty/assessment.ejs %>
        	</div>
        </div>
        <div class="row div_unactive" id="tab5">
        	<div class="col-sm-12" style="min-height:500px;">        		
        		<h1 style="text-align: center;"><%= underConstruction %></h1>
        	</div>
        </div>
</div>

<% include partials/template/footer.ejs %>
	
</body>

	<!--   Core JS Files   --> 
	<script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
	<script src="/js/select2.min.js"></script> 
	
	<script src="/js/gsdk-bootstrap-wizard.js"></script> 
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/faculty/create_project.js"></script> 
	
	<script>
	 $(document).ready(function(){
		$('li > a').click(function() {
		    $('li').removeClass();
		    $(this).parent().addClass('li_style');
		});
		
		$('#Tab1').click(function() {
		    $('#tab1').addClass("div_active");
		    $('#tab1').removeClass('div_unactive');
		    
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');		    
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');		    
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    $('#tab5').addClass("div_unactive");
		    $('#tab5').removeClass('div_active');
		    
		    $('#tab11').removeClass("div_unactive");
		    $('#tab11').addClass("div_active1");
		    
		});
		$('#Tab2').click(function() {
			$('#tab2').addClass("div_active");
		    $('#tab2').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    $('#tab5').addClass("div_unactive");
		    $('#tab5').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
		$('#Tab3').click(function() {
			$('#tab3').addClass("div_active");
		    $('#tab3').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    $('#tab5').addClass("div_unactive");
		    $('#tab5').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
		$('#Tab4').click(function() { 	
			$('#tab4').addClass("div_active");
		    $('#tab4').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');
		    $('#tab5').addClass("div_unactive");
		    $('#tab5').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
		
		$('#Tab5').click(function() { 	
			$('#tab5').addClass("div_active");
		    $('#tab5').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
	});
	</script>
 	
 	<script>
	  $('#select_item').select2({
	    placeholder: 'Select Research Interest'
	  });
	</script>
</html>

