<section>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2 style="font-weight: bold;">Recent Research News</h2>	 
                <br/> 
                <p class="p_data1"><u>Inspiring others: Researcher named national leader for scientific pursuits, community activism</u></p>				
                <p class="p_data2">
                	Dr. Max Liboiron has received a national honour for her leading-edge research and community engagement.
                </p>
                
                <br/> 
                <p class="p_data1"><u>Big jump: Research funding increases as university focuses on growing worldwide reputation</u></p>				
                <p class="p_data2">
                	Memorial is the national leader among Canada&#39;s medical universities when it comes to corporate research income growth over a five-year period. That&#39;s according to new data released on Oct. 25. Research Infosource Inc. states that from fiscal years 2013-17, Memorial ranked No. 1 in growth, with an increase of 160.2 per cent.
                </p>
                
                <br/> 
                <p class="p_data1"><u>Infusion for innovation: Significant federal investment fuels discovery research across disciplines</u></p>				
                <p class="p_data2">
                	Research ranging from developing sustainable road pavements for harsh Canadian climates to evolutionary drivers of variation in bat migration are among more than 60 projects receiving roughly $8.8 million from the Government of Canada.
                </p>
	        </div>
		</div>
	</div>
	
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<h2 style="font-weight: bold;">Announcements</h2>	 
                <br/> 
                <p class="p_data1"><u>OFI launches Visiting Fellows Program</u></p>				
                <p class="p_data2">
                	The Ocean Frontier Institute (OFI) is accepting applications for its two Visiting Fellows Programs.
                </p>
                
                <br/> 
                <p class="p_data1"><u>Tech-knowledge-y: addressing ocean challenges through innovative technology and traditional knowledge</u></p>				
                <p class="p_data2">
                	The spring 2019 issue of the Journal of Ocean Technology will focus on technology and traditional knowledge. We are inviting the submission of technical papers and essays for this issue.
                </p>
                
                <br/> 
                <p class="p_data1"><u>Terra Nova Young Innovator Award applications due Nov. 19</u></p>				
                <p class="p_data2">
                	Applications are now being accepted for the Terra Nova Young Innovator Award, which is valued at up to $50,000, and recognizes and supports outstanding young faculty members whose research is particularly innovative and whose specific proposal has real potential to make a significant impact on society.
                </p>
	        </div>
		</div>
	</div>
<section>