<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="p_data">
				  Memorial University welcomes applicants of all ages from Newfoundland and Labrador, other areas of Canada, and around the world. Whether you are in high school preparing for your next steps, a high school graduate who is ready to start your degree, or someone who is interested in starting a graduate diploma, master&#39;s degree or doctoral program, you will find everything you need to know about the application and admission process here.
				</p> 
			</div> 
		</div>
	</div>
</section>
<br/>
<div class="row">
		<div class="col-md-12"> 
			<div class="col-md-12">	 
                <br/> 
                <p class="p_data1"><u>Graduate</u></p>				
                <p class="p_data2">
                	Do you already have an undergraduate degree? Memorial University offers more than 100 programs including graduate diplomas, master&#39;s degrees and doctoral degree programs in humanities and social sciences, sciences, interdisciplinary, and professional disciplines. Our programs have some of the lowest tuition rates in Canada and offer competitive funding packages for eligible Canadian and international graduate students.
                </p>
                
                <br/> 
                <p class="p_data1"><u>Extraordinary Research</u></p>				
                <p class="p_data2">
                	Research at Memorial University is guided by the Research Strategy Framework, which identifies the goals and objectives necessary to grow activity, impact and reputation in research. The framework acknowledges our special obligation to the people of Newfoundland and Labrador and the importance of building capacity for research excellence that is both locally relevant and internationally significant.
                </p>
                
                <p class="p_data2">
                	In this section, you can explore the research culture of Memorial through the Research Strategy Framework, publications from the Office of the Vice-President (Research), active research units in the faculties and schools of Memorial and Memorial&#39;s research chairs.
                </p>
	        </div>
		</div>
</div>