<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Memorial University</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
	<link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">

	<!-- CSS Files -->
    <link type="text/css" rel="stylesheet"  href="../Content/Css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet"  href="../Content/Css/gsdk-bootstrap-wizard.css"/>

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link type="text/css" rel="stylesheet"  href="../Content/Css/demo.css"/>

	<link type="text/css" rel="stylesheet" href="../Content/Css/carousel.css" />
    <link type="text/css" rel="stylesheet" href="../Content/Css/profile_css.css">   
    
    <style>    	
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: #fff;
		    color:black;
		}
		
		li {
		    float: left; 
		    display :block;
		    float:left; 		    
		}
		
		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 16px;
		    text-decoration: none;
		}
		
		a:hover {
		    background-color: #393939;
		     color:#fff;
		}
		
		.li_style{
		    background-color : #393939;
		    color:#fff;
		}
		
		.div_active{
			display:inline;
		}
		
		.div_unactive{
			display:none;
		}
		 
	</style>
	
    <style>
    	.required{color:red;}
    	.hide_control{display:none;}
    	.show_control{display:inline;color:red;}
    </style> 	
</head>

<body>
<div style="height:50px">&nbsp;</div>
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				<a href="#"><img src="../Content/Images/MUN_Logo_RGB.png" alt="Logo" /></a>
			</div>			
		</div>
	</div> 
</div> 
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				<h2>MUN Login</h2>
			</div>			
		</div>
	</div> 
</div>  
	 
<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-city.jpg')">    
    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="wizard-container">
                <div class="card wizard-card" data-color="green" id="wizard">
                <form action="" method=""> 
                    	<div class="wizard-header">
                        	<h3>
                        	   <b>Login or create your account</b> <br>  
                        	</h3>
                    	</div>
						<div class="wizard-navigation">
							<ul style="background-color:white;">
								<li><a href="#signin" data-toggle="tab">Sign In</a></li> 
								<li><a href="#signup" data-toggle="tab">Sign Up</a></li>
							</ul>
						</div>

                        <div class="tab-content">
                            <div class="tab-pane" id="signin">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"></h4>									
                                  </div>                                  
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>Memorial Number &nbsp;<span class="required">*</span></label>
                                        <input type="text" class="form-control" id="MemorialNumber" placeholder="Memorial Number">
                                        <label id="E1" class="hide_control">Required field</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                        <label>Password &nbsp;<span class="required">*</span></label>
                                        <input type="password" class="form-control" id="SignInPassword" placeholder="Password">
                                        <label id="E2" class="hide_control">Required field</label>
                                      </div>
                                  </div>
								  <div class="col-sm-12">
									  <div class="form-group info-text">                                        
                                        <input type='button' class='btn btn-fill btn-success btn-wd btn-sm info-text' name='Sign in' value='Sign in'  onclick="validateSignIn();"/>  <br/><span><a href="#" style="color: #000;">Forgot password?</a><span>
                                      </div>                                  						
                                  </div>
                              </div>
                            </div>                                                   
                            <div class="tab-pane" id="signup">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"></h4>									
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>First Name &nbsp;<span class="required">*</span></label>
                                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                                        <label id="E3" class="hide_control">Required field</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                       <label>Last Name &nbsp;<span class="required">*</span></label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                        <label id="E4" class="hide_control">Required field</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>External Email Address &nbsp;<span class="required">*</span></label>
                                        <input type="text" class="form-control" id="email" placeholder="External Email Address">
                                        <label id="E5" class="hide_control">Required field</label>
                                        <label id="E55" class="hide_control">Invalid email id format</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                      <div class="form-group">
                                        <label>Password &nbsp;<span class="required">*</span></label>
                                        <input type="password" class="form-control" id="SignUppassword" placeholder="Password">
                                        <label id="E6" class="hide_control">Required field</label>
                                      </div>
                                  </div>
								  <div class="col-sm-12">
									  <div class="form-group info-text">
                                        <input type='button' class='btn btn-fill btn-success btn-wd btn-sm info-text' name='Join Now'  value='Join Now' onclick="validateSignUp();" />                                   
                                      </div>                                  						
                                  </div>
                                </div>
                            </div>							
                        </div>                        
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
        </div> <!-- row -->
    </div> <!--  big container -->
</div>

		<!--Start of footer-->
        <section id="footer" style="background: #82ca9c;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright" style="color:#fff;text-align:left;">
                            <p>@ 2016 - Design By <span><a href="">&#9798;</a></span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="designer">
                            <!-- <p>A Design By <a href="#">XpeedStudio</a></p> -->
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->
		
</body>

	<!--   Core JS Files   --> 
	<script src="../Scripts/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="../Scripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="../Scripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
 
	<script src="../Scripts/gsdk-bootstrap-wizard.js"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="../Scripts/jquery.validate.min.js"></script>

	<script>
		function isValidEmailAddress(emailAddress) {
		    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
		    return pattern.test(emailAddress);
		}
		
		function validateSignIn()
		{
			
			if($("#MemorialNumber").val()== null || $("#MemorialNumber").val()== '')
			{ 
				$("#E1").removeClass("hide_control");
				$("#E1").addClass("show_control");
			}
			else
			{
				$("#E1").removeClass("show_control");
				$("#E1").addClass("hide_control");
			}
			
			
			if($("#SignInPassword").val()== null || $("#SignInPassword").val()== '')
			{
				$("#E2").removeClass("hide_control");
				$("#E2").addClass("show_control");
			}
			else
			{
				$("#E2").removeClass("show_control");
				$("#E2").addClass("hide_control");
			}
		}
		
		$('#MemorialNumber').on('input',function(e){
			if($("#MemorialNumber").val()!= null || $("#MemorialNumber").val()!= '')
			{ 
				$("#E1").removeClass("show_control");
				$("#E1").addClass("hide_control");
			}
		});
		
		$('#SignInPassword').on('input',function(e){
			if($("#SignInPassword").val()!= null || $("#SignInPassword").val()!= '')
			{ 
				$("#E2").removeClass("show_control");
				$("#E2").addClass("hide_control");
			}
		});
		
		
		function validateSignUp()
		{
			
			if($("#firstName").val()== null || $("#firstName").val()== '')
			{ 
				$("#E3").removeClass("hide_control");
				$("#E3").addClass("show_control");
			}
			else
			{
				$("#E3").removeClass("show_control");
				$("#E3").addClass("hide_control");
			}
			
			
			if($("#lastName").val()== null || $("#lastName").val()== '')
			{
				$("#E4").removeClass("hide_control");
				$("#E4").addClass("show_control");
			}
			else
			{
				$("#E4").removeClass("show_control");
				$("#E4").addClass("hide_control");
			}
			
			if($("#email").val()== null || $("#email").val()== '')
			{
				$("#E5").removeClass("hide_control");
				$("#E5").addClass("show_control");		
			}
			else
			{
				$("#E5").removeClass("show_control");
				$("#E5").addClass("hide_control");
				
				if(!isValidEmailAddress($("#email").val())) 
				{ 
					$("#E55").removeClass("hide_control");
					$("#E55").addClass("show_control");
				}
				else
				{
					$("#E55").removeClass("show_control");
					$("#E55").addClass("hide_control");
				}
			}
			
			if($("#SignUppassword").val()== null || $("#SignUppassword").val()== '')
			{
				$("#E6").removeClass("hide_control");
				$("#E6").addClass("show_control");
			}
			else
			{
				$("#E6").removeClass("show_control");
				$("#E6").addClass("hide_control");
			}
		}
		
		$('#firstName').on('input',function(e){
			if($("#firstName").val()!= null || $("#firstName").val()!= '')
			{ 
				$("#E3").removeClass("show_control");
				$("#E3").addClass("hide_control");
			}
		});
		
		$('#lastName').on('input',function(e){
			if($("#lastName").val()!= null || $("#lastName").val()!= '')
			{ 
				$("#E4").removeClass("show_control");
				$("#E4").addClass("hide_control");
			}
		});
		
		$('#email').on('input',function(e){
			if($("#email").val()!= null || $("#email").val()!= '')
			{ 
				$("#E5").removeClass("show_control");
				$("#E5").addClass("hide_control");
			}
		});
		
		$('#SignUppassword').on('input',function(e){
			if($("#SignUppassword").val()!= null || $("#SignUppassword").val()!= '')
			{ 
				$("#E6").removeClass("show_control");
				$("#E6").addClass("hide_control");
			}
		});
	</script>
</html>

