<section>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title section_header">Search or Filter</h4>
			<hr class="custom-hr hr_width">
	        <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
	             	 <label for="description">Select a Term &nbsp;<span class="required">*</span></label> 	
	                 <select class="form-control" name="university_term_id" id="university_term_id">
	                     <option value="2018-2019 Fall">2018-2019 Fall</option>
	                     <option value="2018-2019 Winter">2018-2019 Winter</option>	                          
	                     <option value="2018-2019 Spring">2018-2019 Spring</option>
	                 </select>
	             </div>
	         </div> 
	         <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
	               	<label for="description">Select Subject &nbsp;<span class="required">*</span></label> 	
	                <select class="form-control" name="subject_id" id="subject_id">
	                	<option value="-select-">-select-</option>  
	                </select>
	                <label id="SEE1" class="text-danger hide_error">Required field</label>
	             </div>
	         </div>  
		</div>
	</div>
<section>
<br/><br/>
<section id="assessmentSectionDiv" class="hide_error"> 
	<div class="row div_border">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-right: 0px;margin-top: 10px;margin-left: 0px;"/>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h4 class="form-section-title section_header" style="margin-top: 15px;">Grades</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">&nbsp;</div>
			</div>
		</div> 
		<div class="col-lg-12 col-md-12 col-sm-12 div_border1" style="padding-right: 0px;padding-left: 0px;margin-top: 10px;">
        	 <div class="col-lg-12 col-md-12 col-sm-12"> 
		         <div style="padding-left: 0px;"> 
				   <table class="table order-list">
						<thead>
						   <tr> 
						      <td class="col-sm-3 ed_td">Date</td>
						      <td class="col-sm-2 ed_td">Points</td>
						      <td class="col-sm-2 ed_td">Grade</td>
						      <td class="col-sm-5 ed_td">Feedback</td>
						   </tr>
						</thead>
				  </table>
				</div>
			 </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-right: 0px;margin-top: 10px;"/>
			<h4 class="form-section-title section_header">Assignments</h4>
		</div> 
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-left: 0px;margin-top: 10px;" id="assignments_section_id"/>
			<div class="col-lg-12 col-md-12 col-sm-12" style="min-height: 60px;"> 
		         <div style="padding-left: 0px;"> 
					 <table class="table order-list" id="assignments_table_section_id">
						<tbody>
						</tbody>
					  </table>
				</div>
		    </div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-right: 0px;margin-top: 10px;"/>
			<h4 class="form-section-title section_header">Presentations</h4>
		</div> 
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-left: 0px;margin-top: 10px;" id="presentations_section_id"/>
			 <div class="col-lg-12 col-md-12 col-sm-12" style="min-height: 60px;"> 
				 <div style="padding-left: 0px;"> 
					 <table class="table order-list" id="presentations_table_section_id">
						<tbody>
						</tbody>
					  </table>
				 </div>
			 </div>
		</div>		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-right: 0px;margin-top: 10px;"/>
			<h4 class="form-section-title section_header">Exams</h4>
		</div> 
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-left: 0px;margin-top: 10px;" id="exams_section_id"/>
			<div class="col-lg-12 col-md-12 col-sm-12" style="min-height: 60px;"> 
				<div style="padding-left: 0px;"> 
					 <table class="table order-list" id="exams_table_section_id">
						<tbody>
						</tbody>
					  </table>
				 </div>
			 </div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-right: 0px;margin-top: 10px;"/>
			<h4 class="form-section-title section_header">Projects</h4>
		</div> 
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_border1" style="padding-left: 0px;margin-top: 10px;" id="projects_section_id"/>
			<div class="col-lg-12 col-md-12 col-sm-12" style="min-height: 60px;"> 
				<div style="padding-left: 0px;"> 
					 <table class="table order-list" id="pojects_table_section_id">
						<tbody>
						</tbody>
					  </table>
				 </div>
			 </div>
		</div> 
    </div>
</section>

<div class="modal fade" id="myAssessmentModal" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p style="font-weight:bold;" id="actionAssessmentMessage">Assessment save successfully.</p>
          <p id="newUserId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
