<section id="studentEnrollmentProfileDivData">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title section_header">Enrollment Detail</h4>
            <hr class="custom-hr hr_width">           
             <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0px;padding-left: 0px;">
                   <div style="padding-left: 0px;"> 
					    <table id="studentEnrollmentProfileTable" class="table order-list">
						    <thead>
						        <tr>
						        	<td class="ed_td">Student Id</td>
						            <td class="ed_td">Name</td>
						            <td class="ed_td">Research Area</td>
						            <td class="ed_td">Skill Set</td>
						            <td class="ed_td">Status</td>
						        </tr>
						    </thead>
						    <tbody>  
						    </tbody>							    
						</table>
				   </div>
	        </div>
	         <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0px;padding-left: 0px;" id="noRecordDivResult">
                   <div style="padding-left: 0px;text-align:center;"> 
					    <span>no admission offer letter</span>
				   </div>
	        </div>
		</div>
	</div>
</section>
<section id="programDetailDivData" class="hide_error">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title section_header">Progam Details</h4>
            <hr class="custom-hr hr_width">
            
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Department</label><br/>
                  <label for="title" id="department_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Program</label><br/>	
                  <label for="title" id="program_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Degree</label><br/>	
                  <label for="title" id="degree_id"></label>
               </div>
	        </div> 
	        
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Program Duration</label><br/>
                  <label for="title" id="programduration_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Program Start Date</label><br/>	
                  <label for="title" id="programStartDate_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Financial Support (CAD)</label><br/>	
                  <label for="title" id="financialSupport_id"></label>
               </div>
	        </div> 
	        
	        <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="form-group">
               	  <label for="title" class="p_label">Other Requirement</label><br/>
                  <label for="title" id="otherRequirement_id"></label>
               </div>
	        </div> 
	        
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Research Title</label><br/>	
                  <label for="title" id="researchTitle_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Project Fund (CAD)</label><br/>	
                  <label for="title" id="projectFund_id"></label>
               </div>
	        </div> 	        
	        <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="form-group">
               	  <label for="title" class="p_label">Skill Set</label><br/>
                  <label for="title" id="skillSet_id"></label>
               </div>
	        </div> 
	        <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="form-group">
               	  <label for="title" class="p_label">Research Project Description</label><br/>
                  <label for="title" id="researchDescription_id"></label>
               </div>
	        </div> 
		</div>
	</div>
	 
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
			<input type="button" class="btn btn-md btn-danger" style="padding: 5px 35px;font-weight: bold;" value="Hide Program View" id="btnHideprogramDetailDivDataView">
		</div>
	</div>
</section>
<br/>
<section id="registerCourseDivData" class="hide_error">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title section_header">Register Courses</h4>
            <hr class="custom-hr hr_width">           
            
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
	             <div class="form-group">
	                <label for="description">Register offered course  &nbsp;<span class="required">*</span></label>
	              </div>
                </div>
	        </div>
	        <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
	               <select class="form-control" id="select_register_course" multiple="multiple" size="4" style="width:100%;height: 78px;">
							<option>Concurrent Computing</option>
							<option>Machine Learning</option>
							<option>Software Engineering</option>
							<option>Data Mining</option>
							<option>Database Technology and Applications</option>							
							<option>Bio-inspired Computing</option>
							<option>Bioinformatics</option>
							<option>Digital Image Processing</option>							
							<option>Advanced Operating Systems</option> 
					 </select>
					 <br/>
					 <textarea class="form-control hide_error" id="txtSelectRegisterCourse" placeholder="registered course"></textarea>
					 <label id="REE1" class="text-danger hide_error">Required field</label> 
                </div>
	         </div>  
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 29px;">
			<input type="button" class="btn btn-md btn-danger" style="padding: 5px 35px;font-weight: bold;" value="Register Course" id="btnRegistorCourses">
		</div>
	</div>
</section>

<div class="modal fade" id="myEnrollmentModal" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Action Status</h4>
        </div>
        <div class="modal-body">
          <p style="font-weight:bold;" id="actionEnrollmentModalMessage"></p>
          <p id="newUserId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>
<!--   Core JS Files   -->  
<script src="/js/select2.min.js"></script> 
 
<script> 
</script>