<section id="studentEnrollmentProfileDivData">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title">Enrollment Detail</h4>
            <hr class="custom-hr hr_width">           
             <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0px;padding-left: 0px;">
                   <div style="padding-left: 0px;"> 
					    <table id="studentEnrollmentProfileTable" class="table order-list">
						    <thead>
						        <tr>
						        	<td class="ed_td">Id</td>
						            <td class="ed_td">Name</td>
						            <td class="ed_td">Research Area</td>
						            <td class="ed_td">Skill Set</td>
						            <td class="ed_td">Status</td>
						        </tr>
						    </thead>
						    <tbody>  
						    </tbody>							    
						</table>
				   </div>
	        </div>
	         <div class="col-lg-12 col-md-12 col-sm-12" style="padding-right: 0px;padding-left: 0px;" id="noRecordDivResult">
                   <div style="padding-left: 0px;text-align:center;"> 
					    <span>no admission offer letter</span>
				   </div>
	        </div>
		</div>
	</div>
</section>
<section id="programDetailDivData" class="hide_error">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h4 class="form-section-title">Student Details</h4>
            <hr class="custom-hr hr_width">
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
			<input type="button" class="btn btn-md btn-danger" style="padding: 5px 35px;font-weight: bold;" value="Hide Program View" id="btnHideprogramDetailDivDataView">
		</div>
	</div>
</div>