.required {
	color: #a94442;
}

.show_error {
	display: block;
}

.hide_error {
	display: none;
}

.alert_message{
	font-weight:bold;
	color:#a94442;
	margin: 21px 0 15px;
}

/*  
	DEFAULT CSS
================================================*/
.btn-right{
	float:right
}

.btn-left{
	float:left;
	margin-left: -15px;
}




/*  
	FROM CSS
================================================*/
.custom-hr,
.form-section-title{
	margin-top: 2px !important;
	font-size: 18px !important;
	font-weight: bold;
}

.form-title{
	margin-bottom: 45px;
	text-align: center;
}