.required {
	color: #a94442;
}

.show_error {
	display: block;
}

.show_error1 {
	display: inline-table;
}

.hide_error {
	display: none;
}

.hide_message {
	display: inline-block;
}

.alert_message{
	font-weight:bold;
	color:#a94442;
	margin: 21px 0 15px;
}

.h1_header
{
	font-weight: bold;
	text-align: left;
}

.p_data{
	font-size: 24px;
	line-height: 1.4em;
}

.p_data1{
	font-size: 24px;
	line-height: 1.4em;
}

.p_data2{
	font-size: 20px;
	line-height: 1.4em;
}

.p_label{
	font-weight: bold;
}

.div_border{
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    min-height: 150px; 
    background-color: transparent;		 
}

.div_border1{ 
    border-bottom: 1px solid #E3E3E3; 		 
}

.tr_style
{
	border-top: 0px solid #ddd;
}

.section_header
{
	font-style: italic;
}
/*  
	student
================================================*/

.education_row
{
	border: 0px solid #E3E3E3;
	padding: 0px 0px;
}

.ed_td{
	font-weight: bold;
}

.hr_width{
	border-top: 3px solid #eee;
}

/*  
	DEFAULT CSS
================================================*/
.btn-right{
	float:right
}

.btn-left{
	float:left;
	margin-left: -15px;
}




/*  
	FROM CSS
================================================*/
.custom-hr,
.form-section-title{
	margin-top: 2px !important;
	font-size: 18px !important;
	font-weight: bold;
}

.form-title{
	margin-bottom: 45px;
	text-align: center;
}