<!DOCTYPE html>
<html lang="en">
<head>

	<% include partials/template/headercontent.ejs %>  
	
    <style> 
    	.form-group{margin-bottom: 0px;}    	
    </style> 	
</head>

<body>
<nav class="navbar navbar-default" style="min-height: 0px;margin-bottom:0px;">
	<div class="container">&nbsp;</div> 
</nav>
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				<a href="/"><img src="/images/MUN_Logo_RGB.png" alt="Logo" /></a>
			</div>			
		</div>
	</div> 
</div> 
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				<h2>MUN Login</h2>
			</div>			
		</div>
	</div> 
</div>  

<div class="modal fade" id="myModalSign" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Password Detail</h4>
        </div>
        <div class="modal-body">
          <p style="font-weight:bold;">Your password is:</p>
          <p id="recover_password"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
 </div>
<div class="image-container set-full-height" style="min-height: 0vh;"> 
    <div class="container">
        <div class="row">
	        <div class="col-sm-3"></div>
	        <div class="col-sm-6">
	            <div class="wizard-container" style="padding-top: 40px;">
	                <div class="card wizard-card" style="min-height:0px;" data-color="green" id="wizard">
	                <form role="form" id="recoverpasswordform">  
	                     <div class="row">
	                         <div class="col-sm-10 col-sm-offset-1">
	                              <div id="alertMessage" class="alert_message"></div>								
	                         </div>                                  
	                         <div class="col-sm-10 col-sm-offset-1">
	                             <div class="form-group">
	                                 <label>Memorial Number &nbsp;<span class="required">*</span></label> 
	                             </div>
	                             <div class="form-group"> 
	                                 <input type="text" class="form-control" id="memorialNumber" placeholder="Memorial Number">
	                             </div>
	                             <div class="form-group">
	                                 <label id="E1" class="text-danger hide_error">Required field</label>
	                             </div>
	                         </div>
	                          <div class="col-sm-10 col-sm-offset-1" style="padding: 10px;text-align: center;font-weight: bold;">
	                             Or									
	                         </div>    
	                         <div class="col-sm-10 col-sm-offset-1">
	                               <div class="form-group">
	                                    <label>Registered Email &nbsp;<span class="required">*</span></label>
	                               </div>
	                               <div class="form-group">
	                                    <input type="text" class="form-control" id="email" placeholder="Registered Email"> 
	                               </div>
	                               <div class="form-group">
	                                    <label id="E2" class="text-danger hide_error">Required field</label>
	                               </div>
	                          </div>
						      <div class="col-sm-10 col-sm-offset-1">
							 	 <div class="form-group info-text">                                        
	                                  <input type="submit" id="btnRecoverPassword" class='btn btn-fill btn-success btn-wd btn-sm info-text' style="min-width: 100%;" name='Find Password' value='Find Password'/>  <br/><span style="float: right;"><a href="login">Login</a><span>
	                             </div>                                  						
	                           </div>
	                      </div>                        
	                  </form>
	                </div>
	            </div> 
	        </div>
	        <div class="col-sm-3"></div>
        </div>  
    </div>   
</div>

<div class="container" style="padding: 20px;"> 
	<div class="row">
		<div class="col-md-12">
			<div style="text-align: center;">
				 &nbsp;
			</div>			
		</div>
	</div> 
</div>  

<nav class="navbar navbar-default">
	<div class="container">&nbsp;</div> 
</nav> 
		<!--Start of footer-->
        <section id="footer" style="background: #82ca9c;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright" style="color:#fff;text-align:left;">
                            <p>@ 2016 - Design By <span><a href="">&#9798;</a></span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="designer">
                            <!-- <p>A Design By <a href="#">XpeedStudio</a></p> -->
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->
		
</body>

	<!--  JS Files   --> 
	<script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script> 
	<script src="/js/gsdk-bootstrap-wizard.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jsdata/user.js"></script>
		
	<script> 
		
		$('#memorialNumber').on('change',function(e){
			if($("#memorialNumber").val()!= null || $("#memorialNumber").val()!= '')
			{ 
				$("#E1").removeClass("show_error");
				$("#E1").addClass("hide_error");
				$("#E2").removeClass("show_error");
				$("#E2").addClass("hide_error");
			}
		});
		
		$('#email').on('input',function(e){
			if($("#password").val()!= null || $("#password").val()!= '')
			{ 
				$("#E1").removeClass("show_error");
				$("#E1").addClass("hide_error");
				$("#E2").removeClass("show_error");
				$("#E2").addClass("hide_error");
			}
		}); 
  </script>
   
   <script>
		setTimeout(function () {
			if ($('#alertMessage').length) {
				$("#alertMessage").text("");
				document.getElementById('alertMessage').style.opacity = 0;
			}
		}, 15000);
	</script>
</html>

