<section id="footer" style="background: #82ca9c;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright" style="color:#fff;text-align:left;">
                            <p>@ 2018 - Memorial University (Graduate Recruitment System)<span></span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="designer">
                             &nbsp;
                        </div>
                    </div>
                </div> 
            </div> 
</section> 
		