<div style="border-bottom:1px solid #393939;">
    <div class="container">
        <div class="row">
        	<div class="col-sm-12">        		
        		<ul id="header">
        		  <li style="border-left:1px solid #393939;width:20%;" id="Tab1"><a href="javascript:void(0)">Profile</a></li> 
				  <li style="border-left:1px solid #393939;width:20%;" id="Tab2"><a href="javascript:void(0)">Create Project</a></li>
				  <li style="border-left:1px solid #393939;width:20%;" id="Tab3"><a href="javascript:void(0)">Enrollment and Student Detail</a></li>
				  <li style="border-left:1px solid #393939;width:20%;" id="Tab4"><a href="javascript:void(0)">Progress Monitor</a></li>
				  <li style="border-left:1px solid #393939;border-right:1px solid #393939;width:20%;" id="Tab5"><a href="javascript:void(0)">Communication</a></li>
				</ul>
        	</div>
        </div>
        <div class="row1">
                    
        </div>
    </div>
</div>
