<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="p_data">
				  As Newfoundland and Labrador&#39;s only university, Memorial has a special obligation to the people of this province. Established as a memorial to the Newfoundlanders who lost their lives on active service during the First World War and subsequent conflicts, Memorial University draws inspiration from these sacrifices of the past as we help to build a better
				  future for our province, our country and our world.
				</p> 
			</div> 
		</div>
	</div>
</section>
<br/>
<section>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-1"></div>
			<div class="col-md-10">
                <p class="p_data">
                	At Memorial University more than 18,000 students from over 100 countries come together to discover. From the classics to advanced technology, Memorial offers certificate, diploma, undergraduate, graduate and postgraduate programs across four campuses and online. A global network of more than 90,000 accomplished alumni throughout the world strengthens Memorial University&#39;s capacity and reputation for leadership in research, teaching and public engagement.
                <p>
	        </div>	        
            <div class="col-md-1"></div>
		</div>
	</div>
<section>